<plugin
		id="com.vp.plugin.sample.packagediagram"
		name="Create Package Diagram"
		description="Create Package Diagram via Open API"
		provider="Visual Paradigm"
		class="com.vp.plugin.sample.packagediagram.PackageDiagramPlugin">
	
	<actionSets>
		<actionSet id="com.vp.plugin.sample.packagediagram.actionset1">
			<toolbar
					id="com.vp.plugin.sample.packagediagram.actionset1.toolbar1"
					orientation="north"
					index="last"/>
			
			<action
					id="com.vp.plugin.sample.packagediagram.actionset1.PackageDiagramActionControl"
					actionType="generalAction"
					label="Create Package Diagram"
					tooltip="Create Package Diagram via Open API"
					style="normal"
					icon="icons/package.png"
					toolbarPath="com.vp.plugin.sample.packagediagram.actionset1.toolbar1/#">
				<actionController class="com.vp.plugin.sample.packagediagram.actions.PackageDiagramActionControl"/>
			</action>
			
		</actionSet>
		
	</actionSets>	
</plugin>
